@font-face {
  font-family: "SuperSunday";
  src: url(/fonts/SuperSunday-vn3MA.ttf) format('truetype');
  font-display: swap;
} 

@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
} 

@font-face {
  font-family: "PlusJakartaSansItalic";
  src: url(/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
} 

:root{
  --primary-color: hsl(203, 100%, 84%);
  --secondary-color: hsl(185, 100%, 65%);
  --active-color: #25668E;
  --text-dark: #1B1B1B;
  --text-light: hsl(203, 100%, 94%);
  --standard-light: #ffffff;
  --standard-dark: #000000;
  --section-color: hsl(0, 0%, 18%);
  --background-light: hsl(203, 100%, 94%);
  --background-dark: hsl(0, 0%, 11%);
  --background-logo: hsl(0, 0%, 14%); 
  --line-height-mobile: 1.5;
  --font: 'PlusJakartaSans', jakarta, sans-serif;

  /* ---------- Font sizes ---------- */
  --text-header: 2rem; /* 32px */
  --text-standard: 1rem; /* 16px */
  --text-small: 0.75rem; /* 12px */

  --svg-size: 2.5rem; /* 40px */
  --svg-size-small: 1.25rem; /* 20px */

  /* --- spacing --- */
  --section-gap: 4.25rem;
  --mini-gap: 0.688rem;

  /* screen sizes */

  /* --small-screen: 320px;
  --large-screen: 768px; */
  /* --laptop-screen: 1024px; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}


p {
  font-family: var(--font);
  line-height: var(--line-height-mobile);
  font-size: var(--text-standard);
  color: var(--text-light);
}

h1 {
  color: var(--text-light);
}


